<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Library Management</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="blocks.css">
        <!-- Custom styles for this template -->
        <link href="style.css" rel="stylesheet">
        
        <script>/* Pinegrow Interactions, do not remove */ (function(){try{if(!document.documentElement.hasAttribute('data-pg-ia-disabled')) { window.pgia_small_mq=typeof pgia_small_mq=='string'?pgia_small_mq:'(max-width:767px)';window.pgia_large_mq=typeof pgia_large_mq=='string'?pgia_large_mq:'(min-width:768px)';var style = document.createElement('style');var pgcss='html:not(.pg-ia-no-preview) [data-pg-ia-hide=""] {opacity:0;visibility:hidden;}html:not(.pg-ia-no-preview) [data-pg-ia-show=""] {opacity:1;visibility:visible;display:block;}';if(document.documentElement.hasAttribute('data-pg-id') && document.documentElement.hasAttribute('data-pg-mobile')) {pgia_small_mq='(min-width:0)';pgia_large_mq='(min-width:99999px)'} pgcss+='@media ' + pgia_small_mq + '{ html:not(.pg-ia-no-preview) [data-pg-ia-hide="mobile"] {opacity:0;visibility:hidden;}html:not(.pg-ia-no-preview) [data-pg-ia-show="mobile"] {opacity:1;visibility:visible;display:block;}}';pgcss+='@media ' + pgia_large_mq + '{html:not(.pg-ia-no-preview) [data-pg-ia-hide="desktop"] {opacity:0;visibility:hidden;}html:not(.pg-ia-no-preview) [data-pg-ia-show="desktop"] {opacity:1;visibility:visible;display:block;}}';style.innerHTML=pgcss;document.querySelector('head').appendChild(style);}}catch(e){console&&console.log(e);}})()</script>
        
    </head>
    <body class="text-secondary">
        <body class="text-secondary">
            <nav class="bg-success border border-left-0 border-right-0 border-top-0 navbar navbar-dark navbar-expand-lg py-lg-1 fixed-top"> 
                <div class="container"> 
                    <a class="font-weight-bold navbar-brand text-uppercase" href="/secret" style="font-family: 'Oswald', sans-serif;">Library Management</a> 
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-4" aria-controls="navbarNavDropdown-4" aria-expanded="false" aria-label="Toggle navigation"> 
                        <span class="navbar-toggler-icon"></span> 
                    </button>                 
                    <div class="collapse navbar-collapse " id="navbarNavDropdown-4"> 
                        <ul class="navbar-nav"> 
                            <li class="nav-item"> 
                                <a class="nav-link px-lg-3 py-lg-4" href="/secret" style="font-family: 'Oswald', sans-serif;">Home</a> 
                            </li>
                            <li class="nav-item"> 
                                <a class="nav-link px-lg-3 py-lg-4" href="/basic" style="font-family: 'Oswald', sans-serif;">Library</a> 
                            </li>                         
                                                     
                            <li class="nav-item"> 
                                <a class="nav-link px-lg-3 py-lg-4" href="/contact" style="font-family: 'Oswald', sans-serif;">Contact Us</a> 
                            </li>                         
                        </ul>                     
                        <a class="btn btn-dark ml-lg-auto pl-4 pr-4 rounded-pill" href="/login" style="font-family: 'Oswald', sans-serif;">LOG OUT</a> 
                    </div>                 
                </div>             
            </nav>
        <section>
</section>
        <section class="bg-success pt-5 text-secondary">
            <section class="container pt-5 pt-lg-0">
                <div class="align-items-center row" style="margin-top: 58px;">
                    <div class="col-lg-6 mb-5">
                        <h1 class="display-4 font-weight-bold mb-3 text-light" style="font-family: 'Allan', cursive;">Digital Library</h1>
                        <p class="font-weight-light lead mb-4 text-light text-justify" style="font-family: 'Advent Pro', sans-serif;">A digital library, also called an online library, an internet library, a digital repository, or a digital collection is an online database of digital objects. </span><br>
                            The online library gives you access to quality-assured and trusted resources that are selected and assessed by subject specialists and academics.
                        </p>
                        
                    </div>
                    <div class="col-lg-6">
                        <img src="https://im.whatshot.in/img/2018/Mar/trilogy-1522329782.jpg" alt="">
                        <p>




                        </p>
                    </div>
                </div>
            </section>
        </section>
        <div>
            <p>





            </p>
        </div>
        <!-- Book 1 -->
        <div class="section section-tabs">
            <div class="container" style="margin-bottom: 33px;">
                <div class="card">
                    <div class="card-header bg-dark">
                        <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                            <li class="nav-item">
                                <a class="nav-link active text-info" data-toggle="tab" href="#home1" role="tab" style="font-size: 18px;">Electronics and Communication Engineering</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <!-- Tab panes -->
                        <div class="tab-content text-center">
                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="text-justify" style="font-family: 'Andika', sans-serif;">This book is written to be a one-stop source for study and revision of all the important concepts in ECE, so that the students/ aspirants do not miss any important concept that might be useful for solving problems in the examination.</p>
                                <a href="https://www.google.co.in/books/edition/Electronics_and_Communication_Engineerin/7atzswEACAAJ?hl=en">Read the Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Book 2 -->
        <div class="section section-tabs">
            <div class="container" style="margin-bottom: 33px;">
                <div class="card">
                    <div class="card-header bg-dark">
                        <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                            <li class="nav-item">
                                <a class="nav-link active text-info" data-toggle="tab" href="#home1" role="tab" style="font-size: 18px;">Digital Communications</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <!-- Tab panes -->
                        <div class="tab-content text-center">
                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <p class="text-justify" style="font-family: 'Andika', sans-serif;">The book 'Digital Communications' is meant for the students of Electronics and Communication, Computer Science, Electrical Engineering, Electrical and Electronics Engineering and Information Technology branches, both at undergraduate and post-graduate levels. In this book, the basic principles involved in the analysis and design of Digital Communication Systems are presented with an overall aim of helping the students to develop an intuitive idea about the theory under discussion. It is a well-designed textbook for self-study as well as a reference for anyone who has interest in studying Digital Communications. The book, though comprehensive, has been developed in a reader-friendly fashion by providing numerous pedagogical aids for the study of Digital Communication Systems.</p>
                                <a href="https://www.google.co.in/books/edition/Digital_Communications/gFpczQEACAAJ?hl=en">Read the Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Book 3 -->
            <div class="section section-tabs">
                <div class="container" style="margin-bottom: 33px;">
                    <div class="card">
                        <div class="card-header bg-dark">
                            <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                                <li class="nav-item">
                                    <a class="nav-link active text-info" data-toggle="tab" href="#home1" role="tab" style="font-size: 18px;">Database Management System</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <!-- Tab panes -->
                            <div class="tab-content text-center">
                                <div class="tab-pane active" id="home1" role="tabpanel">
                                    <p class="text-justify" style="font-family: 'Andika', sans-serif;">This comprehensive book, now in its Fifth Edition, continues to discuss the principles and concept of Database Management System (DBMS). It introduces the students to the different kinds of database management systems and explains in detail the implementation of DBMS. The book provides practical examples and case studies for better understanding of concepts and also incorporates the experiments to be performed in the DBMS lab. A competitive pedagogy includes Summary, MCQs, Conceptual Short Questions (with answers) and Exercise Questions.</p>
                                    <a href="https://www.google.co.in/books/edition/Database_Management_System_DBMS_A_Practi/yjRlDwAAQBAJ?hl=en&gbpv=0">Read the Book</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Book 4 -->
            <div class="section section-tabs">
                <div class="container" style="margin-bottom: 33px;">
                    <div class="card">
                        <div class="card-header bg-dark">
                            <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                                <li class="nav-item">
                                    <a class="nav-link active text-info" data-toggle="tab" href="#home1" role="tab" style="font-size: 18px;">Digital Marketing</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <!-- Tab panes -->
                            <div class="tab-content text-center">
                                <div class="tab-pane active" id="home1" role="tabpanel">
                                    <p class="text-justify" style="font-family: 'Andika', sans-serif;">Digital Marketing is designed as a textbook for management students specializing in marketing. The book discusses various digital media and analyses how the field of marketing can benefit from them.</p>
                                    <a href="https://www.google.co.in/books/edition/Digital_Marketing/PHSgjgEACAAJ?hl=en">Read the Book</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Book 5 -->
            <div class="section section-tabs">
                <div class="container" style="margin-bottom: 33px;">
                    <div class="card">
                        <div class="card-header bg-dark">
                            <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                                <li class="nav-item">
                                    <a class="nav-link active text-info" data-toggle="tab" href="#home1" role="tab" style="font-size: 18px;">Soft skills and interpersonal communication</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <!-- Tab panes -->
                            <div class="tab-content text-center">
                                <div class="tab-pane active" id="home1" role="tabpanel">
                                    <p class="text-justify" style="font-family: 'Andika', sans-serif;">Interpersonal skills are the qualities and behaviors we exhibit while interacting with other people. They are considered to be one of the most sought-after soft skills. We demonstrate them whenever we engage in any kind of verbal or nonverbal communication.</p>
                                    <a href="https://www.google.co.in/books/edition/Soft_Skills_for_Interpersonal_Communicat/JkStngEACAAJ?hl=en">Read the Book</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
        <footer class="bg-success pt-5 text-white"> 
            <div class="container"> 
                <div class="row"> 
                    <div class="col-xl-4 mr-auto py-3"> 
                        <a href="/basic" class="d-inline-block h2 mb-4 text-decoration-none text-uppercase text-white-50">                 Library </a> 
                        <div class="mb-4"> 
                            <a href="#" class="text-white" style="font-family: 'Oswald', sans-serif;">+91 1234 567-890</a> 
                            <br> 
                            <a href="#" class="text-white" style="font-family: 'Oswald', sans-serif;">info@library.com</a> 
                        </div>                         
                        <div class="d-inline-flex flex-wrap"> 
                            <a href="#" class="p-1 text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="20" height="20"> 
                                    <path d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4v-8.5z"/> 
                                </svg> </a> 
                            <a href="#" class="p-1 text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="20" height="20"> 
                                    <path d="M22.162 5.656a8.384 8.384 0 0 1-2.402.658A4.196 4.196 0 0 0 21.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 0 0-7.126 3.814 11.874 11.874 0 0 1-8.62-4.37 4.168 4.168 0 0 0-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 0 1-1.894-.523v.052a4.185 4.185 0 0 0 3.355 4.101 4.21 4.21 0 0 1-1.89.072A4.185 4.185 0 0 0 7.97 16.65a8.394 8.394 0 0 1-6.191 1.732 11.83 11.83 0 0 0 6.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.496 8.496 0 0 0 2.087-2.165z"/> 
                                </svg> </a> 
                            <a href="#" class="p-1 text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="20" height="20"> 
                                    <path d="M12 2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772 4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2zm0 5a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm6.5-.25a1.25 1.25 0 0 0-2.5 0 1.25 1.25 0 0 0 2.5 0zM12 9a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"/> 
                                </svg> </a> 
                            <a href="#" class="p-1 text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="20" height="20"> 
                                    <path d="M6.94 5a2 2 0 1 1-4-.002 2 2 0 0 1 4 .002zM7 8.48H3V21h4V8.48zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91l.04-1.68z"/> 
                                </svg> </a> 
                            <a href="#" class="p-1 text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="20" height="20"> 
                                    <path d="M21.543 6.498C22 8.28 22 12 22 12s0 3.72-.457 5.502c-.254.985-.997 1.76-1.938 2.022C17.896 20 12 20 12 20s-5.893 0-7.605-.476c-.945-.266-1.687-1.04-1.938-2.022C2 15.72 2 12 2 12s0-3.72.457-5.502c.254-.985.997-1.76 1.938-2.022C6.107 4 12 4 12 4s5.896 0 7.605.476c.945.266 1.687 1.04 1.938 2.022zM10 15.5l6-3.5-6-3.5v7z"/> 
                                </svg> </a> 
                        </div>                         
                    </div>                     
                                        
                </div>                 
                <div class="pb-3 pt-3 text-center"> 
                    <hr class="border-secondary mt-0"> 
                    <p class="mb-0">Copyright &copy; 2021&nbsp;Library Management</p> 
                </div>                 
            </div>             
        </footer>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="pgia/lib/pgia.js"></script>
    </body>
</html>
